<div align="center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>
<div class="row">
  <!--<div class="col-lg-3">
    <div class="list-group">
      <input type="number" class="list-group-item my-2" (keyup)="makePk($event)">
      <button class="list-group-item list-group-item-action" (click)="getMultipleInfo('cars')">Get cars</button>
      <button class="list-group-item list-group-item-action" (click)="getMultipleInfo('users')">Get users</button>
      <button class="list-group-item list-group-item-action" (click)="getMultipleInfo('comments')">Get comments</button>
      <button class="list-group-item list-group-item-action" (click)="getSingleInfo('users')">Get user
        # {{ pk }}</button>
      <button class="list-group-item list-group-item-action" (click)="getSingleInfo('cars')">Get car # {{ pk }}</button>
      <button class="list-group-item list-group-item-action" (click)="getSingleInfo('comments')">Get comment
        # {{ pk }}</button>
    </div>
  </div>
  <div class="col-lg-9">
    <ul>
      <li *ngFor="let obj of multinfo">
        {{ obj | json }}
      </li>
    </ul>
    {{ singleinfo | json }}
  </div>-->
  <div class="col-lg-3">
    <input title="Username" class="form-control" type="text" #regusername>
    <input title="Email" class="form-control" type="email" #email>
    <input title="Password" class="form-control" type="text" #password1>
    <input title="Confirm password" class="form-control" type="text" #password2>
    <button class="btn btn-primary" (click)="register(regusername.value, email.value, password1.value, password2.value)"> Register</button>
  </div>
  <div class="col-lg-3">
    <input title="user" class="form-control" type="text" #username>
    <input title="Password" class="form-control" type="password" #password>
    <button class="btn btn-primary" (click)="login(username.value,password.value)">Login</button>
    <button class="btn btn-primary" (click)="logout()">Logout</button>
  </div>
  {{ singleinfo| json }}
</div>




