<div class="row my-4" *ngIf="cars">
  <div class="col-lg-4 mb-4" *ngFor="let car of cars">
    <div class="card h-100">
      <ngb-carousel *ngIf="car.image_set.length">
        <ng-template ngbSlide *ngFor="let img of car.image_set">
          <a routerLink="/cars/{{ car.id }}">
            <img [src]="img.image" alt="slide" class="angular_brand_img w-100 rounded">
          </a>
        </ng-template>
      </ngb-carousel>
      <a routerLink="/cars/{{ car.id }}">
        <img src="static/images/no-image.jpg" alt="slide" class="angular_brand_img w-100 rounded"
             *ngIf="!car.image_set.length">
      </a>
      <div class="card-body">
        <p><b>{{ car.brand }} - {{ car.car_model }} - {{ car.year }}</b></p>
        <p><b>Type</b>: {{ car.car_type }}</p>
        <p><b>Colour</b>: {{ car.colour }}</p>
        <p>{{ (car.description.length > 256)? (car.description | slice:0:256) + '...': car.description }}</p>
      </div>
      <div class="card-footer">
        <p *ngIf="car.stock_count"><b>Stock count</b>: {{ car.stock_count }}</p>
        <p *ngIf="!car.stock_count"><b>Out of stock</b></p>
      </div>
    </div>
  </div>
</div>

