{% extends "index.html" %}
{% block content %}
    <div class="container">
        <div class="row" style="height: 450px; padding: 10px">
            <form method="post" action=""
                  style="margin: auto;border: 1px solid grey; padding: 15px; border-radius: 10px;">
                {% csrf_token %}
                <h3>Log in</h3>
                <dl class="register">
                    {% for field in form %}
                        <dt>
                            {{ field.label_tag }}
                        </dt>
                        <dd>
                            {{ field }}
                        </dd>
                    {% endfor %}
                </dl>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
{% endblock %}