{% extends "index.html" %}
{% load bootstrap %}
{% load static %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Sign Up</h3>
        {{ form.username|bootstrap }}
        {{ form.email|bootstrap }}
        {{ form.password1|bootstrap }}
        {{ form.password2|bootstrap }}
        <div class="preview mb-3">
            {{ form.image|bootstrap }}
            <img id="preview_image" class="profile_img rounded" src="{% static 'images/default_user.png' %}">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
{% endblock %}