<form (ngSubmit)="getItem(list_name.value, item_id.value)">
  <label for="list">Select table:</label>
  <select class="form-control mb-2" id="list" required #list_name (change)="getIds($event.target.value)">
    <option *ngFor="let name of list_names" [value]="name">
      {{ name }}
    </option>
  </select>
  <label for="item_ids">Select item ID:</label>
  <select class="form-control mb-2" id="item_ids" required #item_id>
    <option *ngFor="let id of ids" [value]="id">
      {{ id }}
    </option>
  </select>
  <button class="btn btn-primary" type="submit">Show</button>
</form>
<div class="row my-4">
  <div class="card h-100 w-100" *ngIf="item">
    <div class="card-body">
      <p *ngFor="let key of item_keys">
        <b>{{ key }}</b>: {{ item[key] }}
      </p>
    </div>
  </div>
</div>
