<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
      <h2>Get</h2>
      <div class="list-group-item list-group-item-action" (click)="getMultipleInfo('cars')">Get cars</div>
      <div class="list-group-item list-group-item-action" (click)="getMultipleInfo('users')">Get users</div>
      <div class="list-group-item list-group-item-action" (click)="getMultipleInfo('comments')">Get comments</div>
      <div class="list-group-item list-group-item-action" (click)="getMultipleInfo('adds')">Get advertised cars</div>
      <input title="Number" class="list-group-item my-2" type="number" (keyup)="makePk($event)" placeholder="ID">
      <div class="list-group-item list-group-item-action" (click)="getSingleInfo('users')">Get user # {{ pk }}</div>
      <div class="list-group-item list-group-item-action" (click)="getSingleInfo('cars')">Get car # {{ pk }}</div>
      <div class="list-group-item list-group-item-action" (click)="getSingleInfo('comments')">Get comment
        # {{ pk }}</div>
    </div>
  </div>
  <div class="col-lg-8">
    <h2>Info</h2>
    <div *ngIf="single; else other_content">
      <p *ngFor="let key of keys">
        <b>{{ key }}</b>: {{ response[key] }}
      </p>
    </div>
    <ng-template #other_content>
      <div *ngFor="let obj of response">
        <p *ngFor="let key of keys">
          <b>{{ key }}</b>: {{ obj[key] }}
        </p>
        <hr/>
      </div>
    </ng-template>
  </div>
</div>
