<div class="row">
  <div class="col-lg">
    <h2>Register</h2>
    Username
    <input title="Username" class="form-control" type="text" #username>
    Email
    <input title="Email" class="form-control" type="email" #email>
    Password
    <input title="Password" class="form-control" type="password" #password1>
    Confirm password
    <input title="Confirm password" class="form-control" type="password" #password2>
    <button class="btn btn-primary my-2"
            (click)="register(username.value, email.value, password1.value, password2.value)"> Register
    </button>
  </div>
</div>

