<div class="row">
  <div class="col-lg">
    <form #userregister="ngForm" (ngSubmit)="register(userregister.value)">
      <h2>Register</h2>
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" name="username" placeholder="username" type="text" ngModel>
        <span class="error" *ngIf="error && error.username">{{ error.username }}</span>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" name="email" placeholder="email" type="email" ngModel>
        <span class="error" *ngIf="error && error.password1">{{ error.password1 }}</span>
      </div>
      <div class="form-group">
        <label for="password1">Password</label>
        <input class="form-control" name="password1" placeholder="password" type="password" ngModel>
        <span class="error" *ngIf="error && error.email">{{ error.email }}</span>
      </div>
      <div class="form-group">
        <label for="password2">Confirm password</label>
        <input class="form-control" name="password2" placeholder="confirm password" type="password" ngModel>
        <span class="error" *ngIf="error && error.non_field_errors">{{ error.non_field_errors }}</span>
        <span class="error" *ngIf="error && error.password2">{{ error.password2 }}</span>
      </div>
      <button class="btn btn-primary my-2" type="submit">Register</button>
    </form>
  </div>
</div>
