<div class="row" *ngIf="info">
  <div class="col-lg">
    <form #useredit="ngForm" (ngSubmit)="edit(useredit.value)" enctype="multipart/form-data">
      <h2>Edit Profile</h2>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" name="image" id="image" (change)="handleFileInput($event.target.files)">
      </div>
      <span class="error" *ngIf="error && error.image">{{ error.image }}</span>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" name="email" id="email" placeholder="email" type="email" [ngModel]="info.email">
        <span class="error" *ngIf="error && error.email">{{ error.email }}</span>
      </div>
      <div class="form-group">
        <label for="first_name">First name</label>
        <input class="form-control" name="first_name" id="first_name" placeholder="first name" type="text"
               [ngModel]="info.first_name">
      </div>
      <div class="form-group">
        <label for="last_name">Last name</label>
        <input class="form-control" name="last_name" id="last_name" placeholder="last name" type="text"
               [ngModel]="info.last_name">
      </div>
      <button class="btn btn-primary my-2" type="submit">Save</button>
    </form>
  </div>
</div>
