<div class="row">
  <div class="col-lg">
    <form #userlogin="ngForm" (ngSubmit)="login(userlogin.value)">
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control mb-2" name="username" placeholder="username" type="text" ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control mb-2" name="password" placeholder="password" type="password" ngModel>
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
</div>

