<div class="row" *ngIf="car">
  <div class="col-lg-9 mx-auto">
    <div class="card">
      <ngb-carousel *ngIf="car.image_set.length">
        <ng-template ngbSlide *ngFor="let img of car.image_set">
          <img [src]="img.image" alt="slide" class="car_img w-100 rounded" *ngIf="car.image_set.length">
        </ng-template>
      </ngb-carousel>
      <img src="static/images/no-image.jpg" alt="slide" class="car_img w-100 rounded"
           *ngIf="!car.image_set.length">
      <div class="card-body">
        <h3>{{ car.brand }} - {{ car.car_model }} - {{ car.car_type }} </h3>
        <h4>${{ car.price }}</h4>
        <p>{{ car.description }}</p>
        <p><b>Year</b>: {{ car.year }}</p>
        <p><b>Number of seats</b>: {{ car.number_of_seats }}</p>
        <p><b>Colour</b>: {{ car.colour }}</p>
        <p *ngIf="car.stock_count"><b>Stock count</b>: {{ car.stock_count }}</p>
        <p *ngIf="!car.stock_count"><b>Out of stock</b></p>
      </div>
    </div>
    <div class="container my-4">

      <h3>Comments:</h3>
      <div class="media my-3" *ngFor="let comment of car.comment_set">
        <a routerLink="/users/{{ comment.user.id }}">
          <img class="comment_img img-thumbnail" [src]="comment.user.image" *ngIf="comment.user.image">
          <img class="comment_img img-thumbnail" src="static/images/default_user.png" *ngIf="!comment.user.image">
        </a>
        <div class="media-body p-0 pl-2" data-id="{{ comment.id }}">
          <a routerLink="/users/{{ comment.user.id }}"><b>{{ comment.user.username }}</b></a>:
          <b id="comment_rating">{{ comment.rating }}</b>★
          <small>{{ comment.date }}</small>
          <span *ngIf="apiService.currentUser && apiService.currentUser.id==comment.user.id">
              <a (click)="openEditCommentModal(comment)">edit</a> |
              <a (click)="deleteComment(comment.id)">delete</a>
            </span>
          <p id="comment_content">{{ comment.content }}</p>
        </div>
        <hr>
      </div>

      <h3>Leave a comment:</h3>
      <div class="media my-3" *ngIf="apiService.currentUser">
        <a routerLink="/users/{{ apiService.currentUser.id }}">
          <img class="comment_img img-thumbnail" [src]="apiService.currentUser.image"
               *ngIf="apiService.currentUser.image">
          <img class="comment_img img-thumbnail" src="static/images/default_user.png"
               *ngIf="!apiService.currentUser.image">
        </a>
        <div class="media-body p-0 pl-2">
          <a routerLink="/users/{{ apiService.currentUser.id }}"><b>{{ apiService.currentUser.username }}</b></a>:
          <form #commentSubmit="ngForm" (submit)="createComment(commentSubmit)">
            <div class="form-group">
              <label for="content">Content</label>
              <textarea class="form-control mb-2" name="content" id="content" placeholder="content" cols="3"
                        ngModel></textarea>
              <span class="error" *ngIf="error && error.content"><small>{{ error.content }}</small>
              </span>
            </div>
            <div class="form-group">
              <label for="rating">Rating</label>
              <input class="form-control mb-2" name="rating" id="rating" placeholder="rating" type="number" ngModel>
              <span class="error" *ngIf="error && error.rating"><small>{{ error.rating }}</small>
              </span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <div *ngIf="!apiService.currentUser">
        <h5>To leave a comment you have to: <b><a>Log in</a></b> or <b><a>Sign up</a></b></h5>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="error && error.detail">
  <div class="col-lg">
    <h3>Errors:</h3>
    {{ error.detail }}
  </div>
</div>
