<div class="row" *ngIf="car">
  <div class="col-lg-9 mx-auto">
    <div class="card">
      <ngb-carousel *ngIf="car.image_set.length">
        <ng-template ngbSlide *ngFor="let img of car.image_set">
          <img [src]="img.image" alt="slide" class="car_img w-100 rounded" *ngIf="car.image_set.length">
        </ng-template>
      </ngb-carousel>
      <img src="static/images/no-image.jpg" alt="slide" class="car_img w-100 rounded"
           *ngIf="!car.image_set.length">
      <div class="card-body">
        <p *ngFor="let key of item_keys">
          <b>{{ key }}</b>: {{ car[key] }}
        </p>
      </div>
    </div>
    <div class="container my-4">
      <h3>Comments:</h3>
      <div class="media my-3" *ngFor="let comment of comments">
        <a routerLink="/users/{{ comment.user.id }}">
          <img class="comment_img img-thumbnail" [src]="comment['user']['image']" *ngIf="comment.user.image">
          <img class="comment_img img-thumbnail" src="static/images/default_user.png" *ngIf="!comment.user.image">
        </a>
        <div class="media-body p-0 pl-2" data-id="{{ comment.id }}">
          <a routerLink="/users/{{ comment.user.id }}"><b>{{ comment.user.username }}</b></a>:
          <b id="comment_rating">{{ comment.rating }}</b>★
          <small>{{ comment.date }}</small>
          <p id="comment_content">{{ comment.content }}</p>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
