.main {
    margin-top: 54px;
    padding: 20px;
    min-height: calc(95vh - 54px);
}

footer {
    min-height: 5vh;
}

.advert {
    min-height: 500px;
    max-height: 500px;
}

.brand {
    min-height: 180px;
    max-height: 180px;
}

