.main {
    margin-top: 54px;
    padding: 20px;
    min-height: calc(95vh - 54px);
}

footer {
    min-height: 5vh;
}

.advert_img {
    min-height: 500px;
    max-height: 500px;
}

.brand_img {
    min-height: 180px;
    max-height: 180px;
}

.car_img {
    min-height: 470px;
    max-height: 470px;
}

.profile {
    min-height: 200px;
    max-height: 200px;
}

button {
    width: 75px;
}
