.main {
    margin-top: 65px;
    min-height: calc(95vh - 65px);
}

footer {
    min-height: 5vh;
}

.brand_img {
    height: 180px;
}

.car_img {
    height: 500px;
}

.comment_img {
    width: 70px;
    height: 70px;
}

.profile_img {
    width: 200px;
    height: 200px;
}
#slider-range-price{
    margin-top: 15px;
}