<div class="row" *ngIf="info">
  <div class="col-lg-3">
    <div class="card p-2">
      <img *ngIf="info.image" class="profile_img mx-auto thumbnail rounded" [src]="info.image">
      <img *ngIf="!info.image" class="profile_img mx-auto thumbnail rounded" src="static/images/default_user.png">
      <div class="card-body" *ngIf="owner">
        <a routerLink="/edit-profile">Edit profile</a>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg">
        <h3><b>Personal information:</b></h3>
        <hr>
        <div class="my-2">
          <b>Username:</b> {{ info.username }}
        </div>
        <div class="my-2">
          <b>Email:</b> {{ info.email }}
        </div>
        <div class="my-2">
          <b>First name:</b> {{ info.first_name }}
        </div>
        <div class="my-2">
          <b>Last name:</b> {{ info.last_name }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 my-4">
        <h4>Cars:</h4>
        <hr>
        <div *ngFor="let car of cars">
          <a routerLink="/cars/{{ car.id }}">
            {{ car.brand }} - {{ car.car_model }} {{ car.year }} - {{ car.car_type }}
          </a>
        </div>
      </div>
      <div class="col-lg-6 my-4">
        <h4>Purchases:</h4>
        <hr>
        <div *ngFor="let purchase of purchases">
          {{ purchase.car.brand }} - {{ purchase.car.car_model }} - ${{ purchase.price }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="error">
  <div class="col-lg">
    <h3>Errors:</h3>
    {{ error.detail }}
  </div>
</div>
