<div class="row" *ngIf="user">
  <div class="col-lg-3">
    <div class="card p-2">
      <img *ngIf="user.image" class="profile_img mx-auto thumbnail rounded" [src]="user.image">
      <img *ngIf="!user.image" class="profile_img mx-auto thumbnail rounded" src="static/images/default_user.png">
      <div class="card-body" *ngIf="isOwner()">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" (click)="openEditProfileModal()">Edit profile</a>
          <a *ngIf="user.stripe_user_id" class="list-group-item list-group-item-action" (click)="openCreateCarModal()">
            Create car
          </a>
          <a *ngIf="!user.stripe_user_id" class="list-group-item list-group-item-action"
             href="{{ connectStripeUrl }}">
            Connect stripe account
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg">
        <h3><b>Personal information:</b></h3>
        <hr>
        <div class="my-2">
          <b>Username:</b> {{ user.username }}
        </div>
        <div class="my-2">
          <b>Email:</b> {{ user.email }}
        </div>
        <div class="my-2">
          <b>First name:</b> {{ user.first_name }}
        </div>
        <div class="my-2">
          <b>Last name:</b> {{ user.last_name }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 my-4">
        <h4>Cars:</h4>
        <hr>
        <div *ngFor="let car of user.car_set">
          <a routerLink="/cars/{{ car.id }}">
            {{ car.car_model }} {{ car.year }} - {{ car.car_type }}
          </a>
          <span *ngIf="isOwner()">
              <a (click)="openEditCarModal(car)">edit</a> |
              <a (click)="deleteCar(car.id)">delete</a>
            </span>
        </div>
      </div>
      <div class="col-lg-6 my-4">
        <h4>Purchases:</h4>
        <hr>
        <div *ngFor="let purchase of user.purchase_set">
          <a routerLink="/cars/{{ purchase.car.id }}">{{ purchase.car.car_model }} {{ purchase.car.year }}
            - {{ purchase.car.car_type }}</a> - ${{ purchase.price }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="error && error.detail">
  <div class="col-lg">
    <h3>Errors:</h3>
    {{ error.detail }}
  </div>
</div>
