<form (ngSubmit)="getList(list_name.value)">
  <label for="list">Select table:</label>
  <select class="form-control mb-2" name="list" required #list_name>
    <option *ngFor="let name of list_names" [value]="name">
      {{ name }}
    </option>
  </select>
  <button class="btn btn-primary" type="submit">Show</button>
</form>
<div class="row my-4">
  <div class="col-lg-4 mb-4" *ngFor="let item of list">
    <div class="card h-100">
      <div class="card-body">
        <p *ngFor="let key of list_keys">
          <b>{{ key }}</b>: {{ item[key] }}
        </p>
      </div>
    </div>
  </div>
</div>

