{% extends 'index.html' %}
{% load bootstrap %}
{% load i18n %}
{% load static %}
{% block content %}
    {% if flag == 'not_authenticated' %}
        <div class="mt-4" align="center">
            <h3>You have no rights to do this action.</h3>
            <p>In order to proceed you have to
                <a href="{% url 'login' %}">log in</a> or
                <a href="{% url 'register' %}">sign up</a>.
            </p>
        </div>
    {% elif flag == 'editing_not_allowed' %}
        <div class="mt-4" align="center">
            <h3>You have no rights to edit this car.</h3>
            <p>To return press
                <a href="{% url 'profile' request.user %}">here</a>.
            </p>
        </div>
    {% elif flag == 'no_keys' %}
        <div class="mt-4" align="center">
            <h3>You have to connect your stripe account to do this action.</h3>
            <p>To connect your stripe account press
                <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_DQaOCFCjDd2o48wUjD5fLPQlm6vkG51j&scope=read_write">
                    here</a>.
            </p>
        </div>
    {% else %}
        {{ wizard.form.media }}
        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {% if form.image %}
                        {% for field in form %}
                            {% if forloop.counter0 == 0 %}
                                <div class="fileinput fileinput-new w-100" data-provides="fileinput">
                                    <div>{{ field|bootstrap }}</div>
                                    <div class="row">
                                        <div class="">
                                            <div class="brand_img fileinput-preview thumbnail"
                                                 data-trigger="fileinput">
                                                <img
                                                        {% if field.value %} src="{% static field.value.url %}"
                                                        {% else %} src="{% static 'images/no-image.jpg' %}"
                                                        {% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% elif forloop.counter0 == 2 %}
                                {{ field|bootstrap }}
                            {% else %}
                                {{ field.as_hidden }}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ form | bootstrap }}
                    {% endif %}
                {% endfor %}
            {% else %}
                {{ wizard.form | bootstrap }}
            {% endif %}
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" class="btn btn-primary"
                        value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                <button name="wizard_goto_step" type="submit" class="btn btn-primary"
                        value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
            {% endif %}
            <input type="submit" class="btn btn-primary" value="{% trans "submit" %}"/>
        </form>
    {% endif %}
{% endblock %}