{% extends 'index.html' %}
{% load static %}
{% load bootstrap %}
{% block product %}
    <div class="card mt-4">
        <div class="card-body">
            <h3 class="card-title">{{ object }}</h3>
            <div id="car{{ object.id }}" class="carousel slide my-4" data-ride="carousel">
                <div class="carousel-inner">
                    {% for im in object.image_set.all %}
                        <div class="carousel-item {% if not forloop.counter0 %} active {% endif %}">
                            <img class="car_img d-block w-100" src="{% static im.image.url %}" alt="slide">
                        </div>
                    {% endfor %}
                </div>
                <ol class="carousel-indicators">
                    {% for im in object.image_set.all %}
                        <li data-target="#car{{ object.id }}"
                            data-slide-to="{{ forloop.counter0 }}" {% if not forloop.counter0 %}
                            class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
                <a class="carousel-control-prev" href="#car{{ object.id }}" role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#car{{ object.id }}" role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <h4>{{ object.price }}$</h4>
            <p class="card-text">{{ car.description }}</p>
            <p>Year: {{ object.year }}</p>
            <p>Seats number: {{ object.number_of_seats }}</p>
            <p>Colour: {{ object.colour }}
                {% if object.stock_count %}
                    <p>In stock: {{ object.stock_count }}</p>
                    <form action="checkout/" method="POST">
                        {% csrf_token %}
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ stripe_key }}"
                                data-amount="{{ car.price }}00"
                                data-name="Car Market"
                                data-description="{{ car }}"
                                data-currency="usd">
                        </script>
                    </form>
                {% else %}
                    <p>Out of stock</p>
                {% endif %}
        </div>
        <div class="container">
            <hr>
            <h3>Comments:</h3>
            <div id="comments">
                {% include 'comments.html' %}
            </div>
            <div id="user_comment">
                {% include 'user_comment.html' %}
            </div>
        </div>
    </div>
{% endblock %}
