{% load static %}
{% block comments %}
    {% for comment in object.comment_set.all %}
        <hr>
        <div class="media">
            <a href="{% url 'profile' comment.user %}">
                <img class="comment_img img-thumbnail"
                     src="{% if comment.user.image %}{% static comment.user.image.url %}
                            {% else %}{% static 'images/default_user.png' %}
                            {% endif %}">
            </a>
            <div class="media-body" data-id="{{ comment.id }}">
                <a href="{% url 'profile' comment.user %}">{{ comment.user }}</a>:
                <b id="comment_rating">{{ comment.rating }}</b>★
                <small>{{ comment.creation_date }}</small>
                {% if comment.user == request.user %}
                    {% if comment.id == editing_comment_id %}
                        editing...
                    {% else %}
                        <a href="#user_comment" class="editComment">edit</a> |
                        <a href="#comments" class="deleteComment">delete</a>
                    {% endif %}
                {% endif %}
                <p id="comment_content">{{ comment.content }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}