{% extends "index.html" %}
{% load bootstrap %}
{% block content %}
    {% if flag == 'search' %}
        <form class="mb-4" method="get" action="{% url 'search' %}">
            <div class="row">
                <div class="col pr-0">
                    <input class="form-control" type="text" id="search_content" name="search_content"
                           placeholder="Search..." value="{{ search_content }}" data-content="{{ search_content }}">
                </div>
                <div class="col-auto pl-0">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    {% endif %}
    <div class="row">
        <div class="col-lg-2">
            <h3 id="brandName">{{ brand_name }}</h3>
            {{ form | bootstrap }}
            <a href="#brand_content">
                <button type="button" class="btn btn-primary" id="submit_filter">Filter</button>
            </a>
            <a href="#brand_content">
                <button type="button" class="btn btn-primary" id="cancel_filter">Cancel</button>
            </a>
        </div>
        <div class="col-lg-10" id="brand_content">
            {% include 'brand_content.html' %}
        </div>
    </div>
{% endblock %}