{% extends 'index.html' %}
{% load bootstrap %}
{% block content %}
    {% if editing_not_allowed %}
        <h3>You have no rights to edit this car</h3>
    {% else %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | bootstrap }}
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'profile' request.user %}" class="btn btn-primary">Cancel</a>
        </form>
    {% endif %}
{% endblock %}