{% extends 'index.html' %}
{% load bootstrap %}
{% block content %}
    {% if flag == 'editing_not_allowed' %}
        <div class="mt-4" align="center">
            <h3>You have no rights to edit this car.</h3>
            <p>To return press <a href="{% url 'profile' request.user %}">here</a></p>
        </div>
    {% elif flag == 'no_keys' %}
        <div class="mt-4" align="center">
            <h3>You have to connect your stripe account to do this action.</h3>
            <p>To connect your stripe account press
                <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_DQaOCFCjDd2o48wUjD5fLPQlm6vkG51j&scope=read_write">
                    here</a>
            </p>
        </div>
    {% elif flag == 'stripe_success' %}
        <div class="mt-4" align="center">
            <h3>Your stripe account was successfully connected.</h3>
            <p>To proceed press
                <a href="{% url 'profile' request.user %}">
                    here</a>
            </p>
        </div>
    {% elif flag == 'stripe_error' %}
        <div class="mt-4" align="center">
            <h3>Something went wrong connecting your stripe account.</h3>
            <p>To get back to your profile press
                <a href="{% url 'profile' request.user %}">
                    here</a>.
                To try again press <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_DQaOCFCjDd2o48wUjD5fLPQlm6vkG51j&scope=read_write">
                    here</a>
            </p>
        </div>
    {% else %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | bootstrap }}
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'profile' request.user %}" class="btn btn-primary">Cancel</a>
        </form>
    {% endif %}
{% endblock %}