{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="card p-2">
                <img class="profile_img mx-auto thumbnail rounded"
                     {% if user.image %}src="{{ img.image.url }}"
                     {% else %}src="{% static 'images/default_user.png' %}"
                     {% endif %}
                     alt="User Pic">
                {% if user == request.user %}
                    <div class="card-body">
                        <div class="list-group">
                            <a href="{% url 'edit_profile' %}" class="list-group-item list-group-item-action">Edit
                                profile</a>
                            <a href="{% url 'edit_password' %}" class="list-group-item list-group-item-action">Change
                                password</a>
                            <a href="{% url 'create_car' %}" class="list-group-item list-group-item-action">Create
                                car</a>
                            <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Log out</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-9">
            <h4>Personal information:</h4>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>Username</td>
                    <td>{{ user }}</td>
                </tr>
                {% if user == request.user %}
                    <tr>
                        <td>Email</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>First name</td>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>{{ user.last_name }}</td>
                </tr>
                </tbody>
            </table>
            <h4>Purchases:</h4>
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Car</th>
                    <th scope="col">Colour</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                {% for purchase in user.purchase_set.all %}
                    <tr>
                        <td>{{ purchase.id }}</td>
                        <td>{{ purchase.date }}</td>
                        <td>{{ purchase.car }}</td>
                        <td>{{ purchase.car.colour }}</td>
                        <td>{{ purchase.price }}$</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="users_cars">
                {% include 'users_cars.html' %}
            </div>
        </div>
    </div>
{% endblock %}