{% extends 'index.html' %}
{% load bootstrap %}
{% load static %}
{% block content %}
    {% if flag == 'not_authenticated' %}
        <div align="center">
            <h3>You have no rights to do this action.</h3>
            <p>In order to proceed you have to
                <a href="{% url 'login' %}">log in</a> or
                <a href="{% url 'register' %}">sign up</a>.
            </p>
        </div>
    {% elif flag == 'profile' %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if not forloop.counter0 %}
                    <div class="preview mb-3">
                        {{ field|bootstrap }}
                        <img id="preview_image" class="profile_img rounded"
                                {% if form.image.value %} src="{{ form.image.value.url }}"
                                {% else %} src="{% static 'images/default_user.png' %}"
                                {% endif %}>
                    </div>
                {% else %}
                    {{ field|bootstrap }}
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'profile' request.user %}" class="btn btn-primary">Cancel</a>
        </form>
    {% elif flag == 'password' %}
        <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'profile' request.user %}" class="btn btn-primary">Cancel</a>
        </form>
    {% endif %}
{% endblock %}