{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <img alt="User Pic"
                     src="{% if user.image %}{% static user.image.url %}{% else %}{% static 'images/default_user.png' %}
                 {% endif %}"
                     class="img-thumbnail">
                {% if user == request.user %}
                    <div class="card-body">
                        <a href="{% url 'edit_profile' %}">Edit profile</a>
                        <br/>
                        <a href="{% url 'edit_password' %}">Change password</a>
                        <br/>
                        <a href="{% url 'create_car' %}">Create car</a>
                        <br/>
                        <a href="{% url 'logout' %}">Log out</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-9">
            <h4>Personal information:</h4>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>Username</td>
                    <td>{{ user }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>First name</td>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>{{ user.last_name }}</td>
                </tr>
                </tbody>
            </table>
            <h4>Purchases:</h4>
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Car</th>
                    <th scope="col">Colour</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                {% for purchase in user.purchase_set.all %}
                    <tr>
                        <td>{{ purchase.id }}</td>
                        <td>{{ purchase.date }}</td>
                        <td>{{ purchase.car }}</td>
                        <td>{{ purchase.car.colour }}</td>
                        <td>{{ purchase.price }}$</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="usersCars">
                {% include 'users_cars.html' %}
            </div>
        </div>
    </div>
{% endblock %}