<div class="modal-header">
  <h2 class="modal-title">Edit profile</h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #userEdit="ngForm" enctype="multipart/form-data">
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" name="image" id="image" (change)="handleFileInput($event.target.files)">
    </div>
    <span class="error" *ngIf="error && error.image"><small>{{ error.image }}</small></span>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" name="email" id="email" placeholder="email" type="email" [ngModel]="user.email">
      <span class="error" *ngIf="error && error.email"><small>{{ error.email }}</small></span>
    </div>
    <div class="form-group">
      <label for="first_name">First name</label>
      <input class="form-control" name="first_name" id="first_name" placeholder="first name" type="text"
             [ngModel]="user.first_name">
    </div>
    <div class="form-group">
      <label for="last_name">Last name</label>
      <input class="form-control" name="last_name" id="last_name" placeholder="last name" type="text"
             [ngModel]="user.last_name">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="editMe(userEdit.value)">Save</button>
</div>
