/* You can add global styles to this file, and also import other style files */
@import "../../marketapp/static/css/style.css";
.angular_brand_img{
  height: 200px;
}

.angular_car_img{
  height: 530px;
}

.error{
  color: red;
}
